<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload and Processing</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home/styles.css' %}">
</head>
<body>

    <h1>Upload an Image</h1>

    <div id="drop-area">
        <p>Drag and drop an image here, or <button type="button" onclick="document.getElementById('fileElem').click()">select an image</button></p>
        <input type="file" id="fileElem" style="display:none" accept="image/*" onchange="handleFiles(this.files)">
    </div>

    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file-input" name="image">
        <button type="submit">Upload</button>
    </form>

    {% if uploaded_file_url %}
    <div class="container">
        <div class="image-container">
            <h2>Uploaded Image:</h2>
            <img src="{{ uploaded_file_url }}" alt="Uploaded Image">
            <h2>Processed Image:</h2>
            <img src="{{ processed_file_url }}" alt="Processed Image">
            <h2>Scaled Image:</h2>
            <img src="{{ scaled_file_url }}" alt="Scaled Image">
        </div>
        <div class="table-container">
            {% if extracted_text %}
            <table id="dataTable">
                <thead>
                    <tr class="tax-count-row">
                        <td colspan="4">Image Dpi: {{ dpi }}</td>
                    </tr>
                    <tr class="tax-count-row">
                        <td colspan="4">Date: {{ date }}</td>
                    </tr>
                    <tr class="tax-count-row">
                        <td colspan="4">Max Tax Count: {{ taxCount }}</td>
                    </tr>
                    <tr>
                        <th colspan="1">NO</th>
                        <th colspan="2">Product</th>
                        <th colspan="1">Price</th>
                    </tr>
                    {% for key, value in productDetail.items %}
                    <tr>
                        <th colspan="1">{{ key }}</th>
                        <th colspan="2">{{ value.0 }}</th>
                        <th colspan="1">{{ value.1 }}</th>
                    </tr>
                    {% endfor %}
                    <tr class="tax-count-row">
                        <td colspan="4">Discount: {{ totalDiscountPrice }}</td>
                    </tr>
                    <tr class="tax-count-row">
                        <td colspan="4">Subtotal: {{ totalProductPrice }}</td>
                    </tr>                  
                    <tr>
                        <th>Keyword</th>
                        <th>Extracted Value</th>
                        <th>Correction Value</th>
                        <th>Comparison Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in extracted_text.items %}
                    {% if value.2 != "Missing" %}
                    <tr>
                        <td>{{ key }}</td>
                        <td class="{%if value.2 == "Fixed" %}not-sure{% endif %}">{{ value.0 }}</td>
                        <td>{{ value.1 }}</td>
                        <td id="highlightTd" class="{% if value.2 == 'Accurate' %}accurate{% elif value.2 == 'Fixed' %}fixed{% elif value.2 == 'Not Sure' %}not-sure{% elif value.2 == 'Missing' %}missing{% endif %}">{{ value.2 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <table id="dataTable">
                <thead>                   
                    <tr>
                        <th>Keyword</th>
                        <th>Extracted Value</th>
                        <th>Correction Value</th>
                        <th>Comparison Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in extracted_text.items %}
                    {% if value.2 == "Missing" %}
                    <tr>
                        <td>{{ key }}</td>
                        <td class="{%if value.2 == "Fixed" %}not-sure{% endif %}">{{ value.0 }}</td>
                        <td>{{ value.1 }}</td>
                        <td id="highlightTd" class="{% if value.2 == 'Accurate' %}accurate{% elif value.2 == 'Fixed' %}fixed{% elif value.2 == 'Not Sure' %}not-sure{% elif value.2 == 'Missing' %}missing{% endif %}">{{ value.2 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <script src="{% static 'js/home/scripts.js' %}"></script>

</body>
</html>
